footer {
    min-height: 46vh;
    color: var(--secondary-bg-color);
    background-color: #474747;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 42px;
}

footer a {
    text-decoration: none;
    color: var(--secondary-bg-color);
    font-size: 22px;
    padding: 0 12px;
}

#footer-links a:hover {
    color: var(--secondary-text-color);
}

@media screen and (max-width: 370px) {
    #footer-links a {
        font-size: 12px;
    }
}